body {
  font-family: 'Suravaram', serif;
}

#header {
  background: DarkSlateGrey;
  color: WhiteSmoke;
  padding: 34px;
  font-size: 25px;
  border-radius: 5px 20px 5px;
  text-align: Left;
}

#avatar {
  height: 100px;
  width: 100px;
  vertical-align: text-top;
  border-radius: 5px 20px 5px;
  padding: 3px;
  border: 3px;
  background-color: Whitesmoke;
  position: absolute;
  right: 15px;
  top: 15px
}

.tabs{
  width:100%
  display:inline-block;
}

.tab-links:after{
  display:block;
  clear:both;
  content:"";
}
.tab-links li{
  margin:0px 5px;
  float:left;
  list-style:none;
}

.tab-links a{
  padding:9px 15px;
  display:inline-block;
  border-radius:3px 3px 0px 0px;
  background:#7FB5DA;
  font-size:16px;
  font-weight:600;
  color:WhiteSmoke;
  transition:all linear .15s;
}

.tab-links a:hover{
  background:#a7cce5;
  text-decoration:none;
}

li.active a, li.active a:hover{
  background:#fff;
  color:#4c4c4c;
}

.tab-content{
  padding:15px;
  border-radius:3px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15)
  background:#fff;
}

.tab{
  display:none;
}

.tab.active{
  display:block;
}

.bx-wrapper {
  max-width: 300px!important;
}
