body {
  font-family: 'Suravaram', serif;
}

#header {
  text-align: center;
  background: DarkSlateGrey;
  background-size:cover;
  color: WhiteSmoke;
}

#avatar {
  height: 100px;
  width: 100px;
  margin: 40px 0px 0px 0px;
  border-radius: 20px;
  padding: 3px;
  border: 7px; WhiteSmoke;
}

.bx-wrapper {
  max-width: 300px!important;
}
